<!--
<div class="navbar navbar-fixed-top page-title">
  <div class="container">
    <%= link_to "6th アンテナ", root_path, id: "logo" %>
  </div>
</div>
-->
<div id="header">
<div class="container">
  <div id="title">
    <%= link_to "6th アンテナ", root_path, id: "logo" %>
  </div>
</div> 
</div>
